$white: #fff;

$gray-500: #6b7082;
$gray-100: #e8e9ec;

$blue-600: #19a1ae;
$blue-400: #41cbd3;

$navy-950: #2e3349;

$gradient-1: linear-gradient(to bottom, #53ffee, #0989b4);

$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-700: 3.5rem;

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;