@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-1{
    font-size: 1.125rem;
    letter-spacing: 0;
}

@mixin text-2 {
    font-size: 0.875rem;
    letter-spacing: 0;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $blue-600;
    min-height: 100vh;
    @include flex-center;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-position: right 40vw bottom 50vh, left 40vw top 50vh;
    background-repeat: no-repeat;
    font-family: "Kumbh Sans", sans-serif;
    line-height: 1.25;
}

main {
    @include flex-center;
}

article {
    @include flex-column;
    position: relative;
    
    .profile-bg {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
    }

    .profile-icon {
        overflow: hidden;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);

        img {
            border-radius: 50%;
            border: 5px solid $white;
        }
    }
}

.profile-info {
    background: $white;
    padding-top: 15%;
    text-align: center;
    border-radius: 0 0 1rem 1rem;
}

.details {
    div {
        display: flex;
        justify-content: center;
        gap: $spacing-100;

        p {
            @include text-1;
            font-weight: 400;
            color: $gray-500;
        }
        
        h1 {
            @include text-1;
            font-weight: 700;
            color: $navy-950;
            margin-bottom: $spacing-100;
        }
    }
    p {
        @include text-2;
        color: $gray-500;
    }
    padding-bottom: $spacing-300;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    padding: $spacing-300 $spacing-200;
    border-top: 1px solid $gray-100;

    .stat-value {
        @include text-1;
        font-weight: 700;
        color: $navy-950;
        margin-bottom: $spacing-100;
    }

    .stat-desc {
        color: $gray-500;
        font-size: 0.625rem;
        font-weight: 400;
        letter-spacing: 1.5px;
    }
}